<!DOCTYPE html>
<html>

<head>
  <title>
    Sistemas Multimidia - Video on demand
  </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <h1>Sistemas Multimídias</h1>
  <ul>
    <%for (var video in videos){%>
      <li>
        <a href="/sistemasmultimidia/<%=videos[video]%>.webm">
          <%=videos[video]%>
        </a>
      </li>
      <%}%>
  </ul>
</body>

</html>

</script>